*{
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../assets/container_bg.png');
}

header {
    position: relative;
    padding: 20px;
  
}

h4,p {
    background-color: white;
    padding: 10px;
    margin: 0;
}
.span-div{
    background-color: white;
    padding: 5px;
}
span {
    padding: 5px;

}
.span1 {
background-color: blueviolet;
color: white;
margin-right: 12px;
}
.span2 {
    background-color: orange;

}


.pokebal{
    position: absolute;
    left: 49%;
    top: 0;
    animation: down 2s  2s infinite;
}
.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    width: 70%;
    margin:20px auto;
    padding-top:6px;
}

@keyframes down {
    from {top: 0}
    to {top: 80%}
}
.pokeLogo{
    position: relative;
    animation: logo 2s 1 ;
    animation-fill-mode: forwards;
    z-index: -1;
}
@keyframes logo {
    from {left: 0}
    to {left: 15%;}

}
.my-card{
    position: relative;
    transition: 0.5s;
    background-color: white;
    background-color: rgb(234, 232, 232);
    
}
.my-card:hover {
     top: -10px;
    -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}


